<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Colegio Patria</title>
</head>
<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
  
    h1 {
      text-align: center;
    }
  
    form {
      max-width: 500px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
    }
  
    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }
  
    input[type="text"],
    input[type="number"],
    select {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  
    .button-group {
      display: flex; 
      justify-content: space-between;
    }
  
    button {
      flex: 1;
      padding: 10px;
      border: none;
      border-radius: 4px;
      background-color: #4caf50;
      color: #fff;
      cursor: pointer;
    }
  
    button[type="reset"] {
      background-color: #f44336;
    }
  
    button:hover {
      background-color: #45a049;
    }
  
    button[type="reset"]:hover {
      background-color: #c62828;
    }
  </style>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
  <h1>sistema de recibos del Colegio Patria</h1>
  
  <form action="/recibo" method="post">
    <label for="numero">Número de Docente:</label>
    <input type="number" id="numero" name="numero" required>
    <br>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <br>
    <label for="domicilio">Domicilio:</label>
    <input type="text" id="domicilio" name="domicilio" required>
    <br>
    <label for="nivel">Nivel:</label>
    <select id="nivel" name="nivel" required>
      <option value="1">Licenciatura o Ingeniería</option>
      <option value="2">Maestro en Ciencias</option>
      <option value="3">Doctor</option>
    </select>
    <br>
    <label for="pagoHoraBase">Pago base por hora impartida:</label>
    <input type="number" id="pagoHoraBase" name="pagoHoraBase" step="0.01" required>
    <br>
    <label for="horas">Horas impartidas:</label>
    <input type="number" id="horas" name="horas" required>
    <br>
    <label for="numHijos">Número de hijos:</label>
    <select id="numHijos" name="numHijos" required>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">Más de 5</option>
    </select>

    <br>
    <button type="submit">Calcular Recibo</button>
    <button type="reset">Borrar Datos</button>
  </form>
  <%-include('partials/footer.ejs')%>
</body>
</html>
