<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recibo de Pago - Colegio Patria</title>
</head>
<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

p {
    margin: 10px 0;
}

.details {
    margin-top: 20px;
}

.details h2 {
    margin-top: 20px;
}

.details p {
    margin-left: 20px;
}

.details h3 {
    margin-left: 20px;
    margin-top: 20px;
}

.error-message {
    text-align: center;
    color: red;
    font-weight: bold;
}

.footer {
    margin-top: 50px;
    text-align: center;
    color: #777;
}


</style>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
  <center>
    <h1>Recibo de Pago del Docente</h1>
  
  <% if (isPost) { %>
    <p>Número de Docente: <%= numero %></p>
    <p>Nombre: <%= nombre %></p>
    <p>Domicilio: <%= domicilio %></p>
    <p>Nivel: <%= nivel %></p>
    <p>Pago por hora base: <%= pagoHoraBase %></p>
    <p>Horas impartidas: <%= horas %></p>
    <p>Cantidad de hijos: <%= numHijos %></p>

    <h2>Detalles de Pago</h2>
    <p>Pago por horas impartidas: $<%= pagoPorHoras.toFixed(2) %></p>
    <p>Bono por hijos: $<%= bono.toFixed(2) %></p>
    <p>Impuesto retenido: $<%= impuesto.toFixed(2) %></p>
    <h3>Total a pagar: $<%= totalAPagar.toFixed(2) %></h3>
  <% } else { %>
    <p>Ingrese los detalles del docente para calcular el recibo de pago.</p>
  <% } %>
</center>
  <%-include('partials/footer.ejs')%>
</body>
</html>

